#about-heading{
  position: relative;
  top: 1vh;
  font-family: 'Roboto',sans-serif;
  color: silver;
}


.about-container {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #e66161d1; */
    height: max-content;
    color: #333;
  }
  
  .about-header {
    /* background-color: #333; */
    color: white;
    padding: 1em 0;
    text-align: center;
  }
  
  .about-header h1 {
    margin: 0;
  }
  
  .about-main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-main h2 {
    font-family: 'Roboto',sans-serif;
    color: antiquewhite;
  }
  
  .about-section {
    margin-bottom: 20px;
    color:bisque;
  }
  
  .about-section p {
    line-height: 1.6;
  }
  
  
  @media screen and (min-width:860px) {
    #aboutbanner-heading{
      width: 500px;
    }
  }
